    version: '3.8'
    services:
      nextjs-app:
        build:
          context: .
          dockerfile: Dockerfile # Or Dockerfile.dev for development
        ports:
          - "3000:3000"
        volumes:
          - .:/app # Mount current directory for live changes in development
          - /app/node_modules # Named volume for node_modules to prevent host interference
        environment:
          - NODE_ENV=development # Or production
        # Add other environment variables as needed